<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>My app</title>
</head>

<body>
    <div id="libraryViewSection"></div>

    <script type="text/template" id="library-template">
        <ul>
            <% for (var i = 0; i < library.length; i++) { %>
                <% var book = library[i]; %>
                    <li>
                        <em><%= book.name %></em> by
                        <%= book.author %>
                    </li>
                    <% } %>
        </ul>
    </script>
    <script src="js/external/jquery-3.2.1.min.js"></script>
    <script src="js/external/underscore-min.js"></script>
    <script src="js/external/backbone-min.js"></script>
    <script src="js/hello.js"></script>
</body>

</html>